* {
box-sizing: border-box;
margin:0;
font-family: 'lato',sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(221, 214, 208);
  position: relative;
  z-index: -1;
}

.contenitore {
  width: 80%;
  height: 90%;
  margin: auto;
}

.banda_verde {
  width: 100vw;
  height: 15vh;
  background-color: rgb(0, 145, 133);
  position: fixed;
  margin:0;
  z-index: -1;
}

.contenitore_sinistro,
.contenitore_destro {
  height: 100%;
}

.contenitore_sinistro {
  width: 35%;
  float: left;
  background-color: white;
}

.contenitore_destro {
  width: 65%;
  float: right;
  background-image: url("img/img1.jpg");
}

.contenitore::after {
  content: "";
  clear: both;
  display: table;
}

.header_left,
.header_right {
  width: 100%;
  height:80px;
  line-height: 80px;
  background-color: lightgrey;
}

.img_contatto {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.header_right {
  border-left: 1px solid #b3b3b3;
}


.header_img_left,
.header_left_icon {
  width: auto;

}

.header_img_left,
.header_img_right {
  margin:  10px;
  float: left;
}

.header_img_left::after,
.header_img_right::after {
  content: "";
  clear: both;
  display: table;
}

.header_img_left::after,
.header_img_right::after {
  content: "";
  clear: both;
  display: table;
}

.header_left_icon,
.header_right_icon {
  float: right;
}

.header_left_icon::after,
.header_right_icon::after {
  content: "";
  clear: both;
  display: table;
}

.header_left_icon i,
.header_right_icon i,
form i {
  padding: 20px;
  color: #8c8c8c;
  font-size: 20px;
  cursor: pointer;
}

.container_messages {
  width: 100%;
  height: calc(100% - 195px);
  margin: 0;
  padding: 0;
  border: 0;
  overflow-y: scroll;
}

.container_message {
overflow: auto;
}

form {
  width: 100%;
  height: 80px;
  background-color: lightgrey;
  bottom: 0;
  right: 0;
}

.ricerca_chat {
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
  position: relative;
}

.search {
  width: 90%;
  height: 60%;
  border: 0;
  border-radius: 15px;
  margin: 0 auto;
  position: absolute;
  left: 5%;
  top: 20%;
}

.invio_messaggio {
  width: 80%;
  height: 50%;
  margin-left: 10%;
  margin-top: 15px;
  line-height: 80px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.message {
  position: relative;
  width: 30%;
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  float: left;
  padding: 10px;
  display: block;
  overflow:auto;
}

.message .ora,
.message i {
  position: absolute;
  right: 5px;
  color: #8c8c8c;
}

.message .ora {
  bottom: 0;
}

.message i {
  top: 0;
  cursor: pointer;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

.mine {
  background-color: #e3f2ca;
  float: right;
  clear: both;
}

.template_container {
  display: none;
}

.chat {
  position: relative;
  height: 80px;
}

.chat:hover {
  background-color: lightgrey;
}

.chat .img_contatto {
  position: absolute;
  top: 10px;
  left: 10px;
}

.chat .nome_contatto,
.chat .ora,
.chat .ultimo_messaggio  {
  position: absolute;
}

.chat .nome_contatto,
.chat .ora  {
  top: 15px;
}

.chat .ultimo_messaggio {
  left: 100px;
  top: 40px;
}

.chat .nome_contatto {
 left: 100px;
 font-size: 20px;
}

.chat .ora,
.chat .ultimo_messaggio {
  right: 10px;
  color: #8c8c8c;
}
